<table v-if="json.name" class="vue-binary-tree-table">
  <tr>
    <td
      :colspan="json.children ? json.children.length * 2 : 1"
      :class="{ parentLevel: json.children, extend: json.children && json.extend }">
      <div :class="{ node: true}" v-tooltip="_getTooltipOptions(json)">
        <div class="person" @click="setNewRoot(json)">
          <div class="avat">
            <img :src="json.image_url" />
          </div>

          <template v-if="json.name_html">
            <div class="name" v-html="json.name_html"></div>
          </template>

          <template v-else>
            <div class="name">{{ json.name }}</div>
          </template>
        </div>
      </div>

      <div
        class="extend-handle"
        v-if="json.children"
        @click="_toggleExtend(json)"></div>
    </td>
  </tr>

  <tr v-if="json.children && json.extend">
    <td
      v-for="(child, index) in json.children"
      :key="index"
      colspan="2"
      class="child-level">
      <BinaryTree :json="child" @update-root="$emit('update-root', $event)" />
    </td>
  </tr>
</table>
